html,
body{
    height: 100%;
    font-family:'Mulish', sans-serif;
}

a{
    text-decoration: none;
}

.wrapper-page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper-content {
    width: 1120px;
    margin: 0 auto;
    font-size: 16px;
    color: rgb(12, 12, 12);
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.head-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
}

.logo__img {
    font-size: 30px;
    width: 40px;
    height: 40px;
    background: #458ff6;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: white;
}

.logo__title {
    font-size: 24px;
    font-weight: 700;
    padding-left: 10px;
    color: rgb(7, 7, 7);
    opacity: 0.8;
}

.head-menu {
    display: flex;
    justify-content: flex-end;
    line-height: 70px;
    font-size: 18px;
    
}

.head-menu__item a{
    color: rgb(7, 7, 7);
    opacity: 0.8;
}

.head-menu__item {
    margin-right: 20px;
}

.head-menu__item:last-child {
    margin-right: 0;
}

.head-menu__item a:hover {
    border-bottom: 4px solid #458ff6;
}
.slider-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.slider-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    margin-left: 50px;
}

.slider-info__description {
    font-size: 18px;
    font-weight: 300;
    color: rgb(20, 20, 20);
    opacity: 0.6;
}

.slider-info__button {
    color: white;
    background-color: #458FF6;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 100px;
    font-size: 18px;
    margin-top: 25px;
}

.slider-info__button:hover{
    transform: translateY(-10px);
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.services__border {
    size: 45;
    width: 60px;
    background-color: rgb(15, 15, 15);
}

.services__description {
    padding-top: 10px;
    padding-bottom: 20px;
    opacity: 0.7;
}

.catalog-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(/images/bg\ element.svg);
    background-position: left 20px bottom 10px;
    margin-left: 40px;
}

.catalog-boxes__services {
    height: 260px;
    width: 270px;
    background-color: #fff;
    border: 1px solid rgb(212, 221, 245);
    box-shadow: 5px 5px 5px 0px #b4cff166; /*Teni*/
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 15px;
    margin-bottom: 40px;
}
.catalog-boxes__services:hover{
    transform: translateY(-12px);
}

.catalog-boxes__services--img {
    width: 70px;
    height: 70px;
}

.catalog-boxes__services--title {
    color: black;
    font-size: 24px;
    margin-top: 15px;
}

.catalog-boxes__services--subtitle {
    color: #877979;
    font-size: 16px;
}

.catalog-services__button {
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center; /*Button*/
    color: #458FF6; /*Button*/
    width: 200px; /*Button*/
    height: 40px; /*Button*/
    border: 1px solid #196fe9; /*Button*/
    line-height: 40px; /*Button*/
    border-radius: 100px; /*Button*/
    margin: 0 auto;
    margin-bottom: 30px;
}

.catalog-services__button:hover{
    background: #458FF6;
    color: white;
}

.footer {
    height: 260px;    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#85cdf2+26,4f92ef+92 */
    background: rgb(133,205,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(133,205,242,1) 26%, rgba(79,146,239,1) 92%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(133,205,242,1) 26%,rgba(79,146,239,1) 92%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(133,205,242,1) 26%,rgba(79,146,239,1) 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85cdf2', endColorstr='#4f92ef',GradientType=0 ); /* IE6-9 */
}

.footer-wrapper {
    width: 1190px;
    height: 230px;
    margin-left: 200px;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 200;
    color: white;
}

.footer-info {
    width: 391px;
    height: 214px;
    margin-right: 100px;
}

.footer-info__logo {
    padding-top: 25px;
}

.footer-info__logo--img a {
    color: #6495ed;
}

.footer-info__logo--img {
    font-size: 26px;
    font-weight: 700;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: 0;
    display: inline-block;
}

.footer-info__logo--name a {
    color: white;
    margin: 0;
}

.footer-info__logo--name {
    font-size: 24px;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 0;
    display: inline-block;
}

.footer-info__logo--description {
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-info__logo--copyrait {
    font-size: 16px;
    opacity: 0.5;
}

.footer-menu {
    width: 195px;
    height: 214px;
}

.footer-menu__title {
    font-size: 20px;
    font-weight: 500;
    padding-top: 35px;
    padding-bottom: 25px;
}

a .footer-menu__link  {
    color: white;
}

.footer-menu__link {
    margin-bottom: 10px;
}

.footer-menu__link:hover {
    text-decoration: underline;
}
